@import "../../../styles/variables.scss";

.container{
    margin: 1rem;
}

.title{
    font-weight:800;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    color: $red-primary;
}

.list__item{
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: $breakpoint-tablet){
    .list__item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .container{
        margin: 2rem;
    }
}

@media screen and (min-width: $breakpoint-desktop){
    .list__item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .container{
        margin: 2rem;
    }
}
