@import "../../../styles/variables.scss";

.container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    box-shadow: $primary-shadow;
}

.content{
    position: relative;
    word-wrap: break-word;
    width:100%;
    height:inherit;
    padding: 0.5rem;
}

.image{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

.button{
    bottom: 0.5rem;
    position: absolute;
    right: 1rem;
}

.price__container{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.discount{
    text-decoration: line-through;
}

.item__name{
    font-size: 1rem;
    font-weight:500;
}

@media screen and (min-width: $breakpoint-mobile){

    .item__name{
        font-size: 1.5rem;
        font-weight:500;
    }
}

@media screen and (min-width:$breakpoint-tablet) {
    .container{
        display:flex;
        flex-shrink: 1;
        height: 140px;
    }
    .content{
        height: 100%;
    }

    .item__name{
        font-size: 1.5rem;
        font-weight:500;
    }
}