@import "../../../styles/variables.scss";

.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: $primary-shadow;
}

.content__container{
    display: flex;
    flex-direction: row;
}

.item__name{
    font-weight: 500;
    padding-bottom: 0.3rem;
}

.item__detail{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-top: 0.5rem;
    .item__quantity{
        font-size: 0.8rem;
    }
}

.date{
    padding-top: 0.5rem;
}

.text__breakdown{
    font-weight: 700;
    padding-top: 1rem;
}


.content{
    position: relative;
    word-wrap: break-word;
    width:100%;
    height:inherit;
    padding: 0.5rem;
}

.image{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

.button{
    width: 100%;
}

@media screen and (min-width:$breakpoint-tablet) {
    .container{
        display:flex;
        flex-shrink: 1;
    }
    .content{
        height: 100%;
    }
}